html{
    font-family:'Poppins',sans-serif;
}
body{
    color:#DBD2D8;
    background-color:#161214;
    text-align:center;
    font-size : 20pt;
    /*
    vertical-align: ;
    text-indent: ;
    letter-spacing: ;
    word-spacing: ;
    line-height: ;
    background-image:"fond.pnj";
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center ;
    list-style-type: disc;
    list-style-image: ;
    display : ;
    visibility: ;
    z-index: ;
    */
}
h1{
    color:#FA810F;
    font-size: 70pt;
}
hr {
	display: block;
	clear: both;
	height: 5;
	margin: 40px 0 80px;
	padding: 0;
	border: 0;
	font-family: arial;
	text-align: center;
	font-size: 60px;
	line-height: 1;
}
.container-onglets{
    width:100%;
    height:30%;
    display : flex;
    border-bottom:5px solid;
    border-bottom-color: #FA810F;
    border-top:5px solid #FA810F;
}

.onglets{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size : 30pt;
    cursor:pointer;
    padding: 5px;
}

.onglets:not(:nth-child(4)){
    border-right : 5px solid #A31B00;
}

.contenu{
    height : 70%;
    width:100%;
    padding: 20px;
    opacity: 0;
    position :absolute;
}

/* Anim */

.active{
    background:#382E33;
    transition: all 0.3s ease;
}

.activeContenu{
    animation: fade 0.5s forwards;
}

@keyframes fade{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}